{% extends "./layouts/standard.html.twig" %}

{% block title %} Contact Success! {% endblock %}

{% block content %}

    <div>
        <div class="container mx-auto">
            <div class="py-16 lg:py-20">
                <div>
                    <img src="{{ asset("assets/img/icon-contact.png") }}" alt="icon envelope" />
                </div>
                <h1
                        class="pt-5 font-body text-4xl font-semibold text-primary dark:text-white md:text-5xl lg:text-6xl"
                >
                    Thank you for your message!
                </h1>
                <div class="pr-2 pt-3 sm:pt-4">
                    <p class="font-body text-xl font-light text-primary dark:text-white">
                        I will aim to get back to you as soon as possible!
                    </p>
                </div>
                <a
                        href="/"
                        class="mt-12 block bg-secondary px-10 py-4 text-center font-body text-xl font-semibold border-secondary border-2 text-white transition-colors hover:border-green hover:bg-green sm:inline-block sm:text-left sm:text-2xl"
                >
                    Back to Intro
                </a>

            </div>
        </div>
    </div>

{% endblock %}