{% extends "./layouts/standard.html.twig" %}

{% block content %}
    <h1>Michael Dodd</h1>
    <p>A software developer with {{ years }} years of experience, I have had the opportunity to work with a variety of languages and technologies and frameworks. This diverse skillset has enabled me to tackle a wide range of projects and challenges, and improve my ability to create efficient, scalable, and user-friendly applications by choosing the right tech stack to meet the requirements of any project. I have always been driven by a passion for technology and the latest developments. I am always looking for new learning opportunities, to enhance my existing skills or to learn something new.</p>

    <!-- Randomised skill list -->
    <h2>My Skills</h2>

    <!-- Portfolio -->
    <h2>Portfolio</h2>
    <div class="grid grid-cols-3 gap-4">
        <div class="col-span-2">01</div>
        <div class="">02</div>
        <div class="">03</div>
        <div class="col-span-2">04</div>
        <div class="">05</div>
        <div class="">06</div>
        <div class="">07</div>
    </div>


    <!-- Blog -->
    <h2>Blog</h2>

{% endblock %}